<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4">
        
    <circle-progress
  [percent]="80"
  [radius]="100"
  [title]="'ANGULAR'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [space]="-12"
  [innerStrokeWidth]="10"
  [outerStrokeColor]="'#ff7575'"
  [innerStrokeColor]="'#e7e8ea'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4">
   
<circle-progress
[percent]="70"
[radius]="100"
[title]="'Java Scrip'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="10"
[space]="-12"
[innerStrokeWidth]="10"
[outerStrokeColor]="'#ff7575'"
[innerStrokeColor]="'#e7e8ea'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4">
   
<circle-progress
[percent]="85"
[radius]="100"
[title]="'ANGULAR'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="10"
[space]="-12"
[innerStrokeWidth]="10"
[outerStrokeColor]="'#ff7575'"
[innerStrokeColor]="'#e7e8ea'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4">
    
<circle-progress
[percent]="85"
[radius]="100"
[title]="'ANGULAR'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="10"
[space]="-12"
[innerStrokeWidth]="10"
[outerStrokeColor]="'#ff7575'"
[innerStrokeColor]="'#e7e8ea'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div> <div class="text-center col-sm-4 col-md-4">
   
<circle-progress
[percent]="85"
[radius]="100"
[title]="'ANGULAR'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="10"
[space]="-12"
[innerStrokeWidth]="10"
[outerStrokeColor]="'#ff7575'"
[innerStrokeColor]="'#e7e8ea'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>


</div>