<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Sin título.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nom">Mercado Martin Edgardo</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum qui ratione id suscipit ut dolor
                incidunt, odit adipisci! Soluta mollitia molestias expedita sequi placeat, vitae ipsa ab veniam corporis
                exercitationem?</p>
        </span>
    </div>

</div>