<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Cadete Administrativo</h2>
                <h3>Biochemical S.A</h3>
                <h4> Diciembre 2011 - Agosto 2017</h4>
            </li>
            <p>Tareas generales dentro del área administrativa, cobro y trámites bancarios, ingreso de facturas, gastos
                y otros documentos a Sistemas de Gestión. Manejo de valores. </p>
        </ul>
        <ul>
            <li>
                <h2>Control de Calidad</h2>
                <h3>Biochemical S.A</h3>
                <h4> Agosto 2017 - Abril 2020</h4>
            </li>
            <p>Control de Calidad de producto terminado (fermento y polvos) y materia prima. Control de superficies
                mediante hisopados. Ingreso de materia prima, realización de orden de producción, organización de
                documentación, ficha técnica. Preparación y análisis sensorial de nuevos productos, pruebas
                fisicoquímicas. Pruebas en planta piloto. Tareas generales de laboratorio: limpieza, esterilización de
                materiales en autoclave, preparación de medio de cultivo.

            </p>
        </ul>
        <ul>
            <li>
                <h2>Operador de Produccion</h2>
                <h3>Biochemical S.A</h3>
                <h4> Abril 2020 - Marzo 2022</h4>
            </li>
            <p>
                Participación y control de todo el proceso productivo de fermentación. Acondicionamiento de reactores,
                inoculación, centrifugado, envasado del producto final, limpieza CIP de reactores y línea de producción.

            </p>
        </ul>
    </div>
