<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudios Secundario</h2>
                <h3>E.E.M N°15</h3>
                <h4> Diciembre 2011 - Agosto 2017</h4>
            </li>
            <p>Tareas generales dentro del área administrativa, cobro y trámites bancarios, ingreso de facturas, gastos
                y otros documentos a Sistemas de Gestión. Manejo de valores. </p>
        </ul>
        <ul>
            <li>
                <h2>Ingeniero Quimico</h2>
                <h3>Universidad Nacional del Oeste</h3>
                <h4> Marzo 2015 - Actualidad</h4>
            </li>
            
        </ul>
    </div>
</div>