<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Porfolio Argentina Programa</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis aliquam quas accusantium eligendi fuga
                repudiandae. Rerum, maiores impedit eligendi placeat, a hic quia mollitia ipsam laudantium perspiciatis
                debitis quos nesciunt.</p>
        </div>
        <div class="  col-sm-12 col-md-3 col-lg-3  parte2 offset-md-1"><img src="../../../assets/Logo.png" alt=""
                class="img-fluid img-proyecto"></div>
    </div>

</div>